div {
    border: 1px solid green;
}

body {
    background-color:mintcream;
}
#head {
    background-color: pink;
    height: 60px;
    width: 600px;
    margin: 5px auto;
    padding: 5px;
}
#main {
    background-color: yellow;
    height: 500px;
    width: 600px;
    margin: 5px auto;
    padding: 5px;
    background-color: mintcream;
}
#left {
    width: 20%;
    height: 90%;
    margin: 5px auto;
    border: 1px solid red;
    float:left;
    background-color: mintcream;
    
}
#right {
    width: 75%;
    height: 90%;
    float: right;
    margin: 5px auto;
    border: 1px solid blue;
    

    
    
}